
.search-form
    form.pure-form
        input(type='text', name="txtSearch", id="txtSearch", class="awesomplete", data-list="")
        |  
        button.pure-button.pure-button-disabled(type='button', id="btnSearch") Buscar
